* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

ul,
li,
ol {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}


/* ------------------ */

.wrap {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #000;
    font-weight: 100;
    overflow: hidden;
    min-width: 1200px;
    min-height: 500px;
}

/* ---------------main_left----------- */

.main_left {
    position: relative;
    width: 29%;
    height: 100%;
    color: #fff;

}


.main_left>.left_txt01 {
    font-size: 14px;
    padding: 20px;
    border-bottom: 1px dashed #fff;
    box-sizing: border-box;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.main_left>.nav {
    box-sizing: border-box;
}

.main_left>.nav>.nav_li {
    font-weight: 400;
    font-size: 35px;
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}

.nav_li>a:hover {
    color: blue;
}

.pj_list {
    width: 95%;
    height: 0;
    border-top: 1px dashed #fff;
    margin-top: 20px;
    font-weight: 400;
    font-size: 33px;
    line-height: 50px;
    overflow: scroll;
    transition: 0.5s;
    box-sizing: border-box;

}

.pj_list.active {
    height: 300px;
    transition: 0.5s;
}

.pj_list>li>a {
    display: inline-block;
    transition: 0.3s;
}

.pj_list>li>a:hover {
    padding-left: 20px;
    transition: 0.3s;
    box-sizing: border-box;
}

.left_txt02 {
    position: absolute;
    left: 15px;
    bottom: 20px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}
.left_txt03 {
    position: absolute;
    right:20px;
    bottom: 60px;
    font-size: 12px;
    text-align:right;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    display: none;
}
.left_txt03>a{
    color: blue;
    font-weight: 300;
    font-style: italic;
    
}

/* -----------main_right------------- */

.main_right {
    width: 29%;
    height: 100%;
    color: #fff;
}

.main_right>p {
    font-size: 14px;
    padding: 20px;
    padding-right: 20px;
    text-align: right;
    line-height: 20px;
    border-bottom: 1px dashed #fff;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* --------------center---------- */

.main_center {
    width: 52%;
    height: 100%;
    display: flex;
    position: relative;
}

.main_center>.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 100px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;

}

.main_center>p {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
}

.main_center>.img01 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url(../img/intro1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.main_center>.img02 {
    position: absolute;
    top: 28%;
    right: -300px;
    width: 350px;
    height: 500px;
    background-image: url(../img/intro2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #000;

}




/* ------------모바일-------------- */
.flower {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.flower img {
    transform-origin: 50%;
    animation-name: flower;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.flower:hover>img {
    animation-play-state: paused;
}

@keyframes flower {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:800px) {
    .wrap {
        min-width: 100px;
        min-height: 0px;
    }

    .main_left {
        display: none;
    }
    .main_left.active{
        display: block;
        width: 100%;
    }
    .main_center.active{
        display: none;
    }
    
    .main_right {
        display: none;
    }

    .main_center {
        width: 100%;
    }
    .main_center>.img02{
        display: none;
    }
    .flower{
        display: block;
    }
    .left_txt03{
        display: block;
    }

}
@media screen and (max-width:500px) {
    .main_center>.logo{
        width: 290px;
        height: 80px;
    }



}