html {
    font-family: 'Noto Sans KR', sans-serif;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.row::after {
    display: block;
    content: "";
    clear: both;
}

.cell {
    float: left;
}
.cell2 {
    float: right;
}

.min {
    min-width: 1500px;
}

/* ------스타일------ */
.top-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    overflow: hidden;
}

.bg_1 {
    position: relative;
    width: 100%;
}

.scroll-down {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: #f85022;
    font-weight: bold;
    font-size: 0.8rem;
}

.scroll-dot {
    width: 5px;
    height: 5px;
    background: #f85022;
    border-radius: 50%;
    margin: 10px auto;
}

.header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

.logo {
    width: 160px;
    height: 45px;
    background: url(../img/logo-w.png)no-repeat center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 70px;
}

.gnb {
    position: absolute;
    top: 30px;
    right: 70px;
    display: flex;
    align-items: center;
}

.gnb-list {
    display: flex;
}

.gnb-list>.gnb-item {
    padding-right: 30px;
    font-size: 1.1rem;
}

.gnb-list>.gnb-item>a {
    transition: 0.3s;
    font-weight: bold;
}

.gnb-list>.gnb-item>a::after {
    display: block;
    content: "";
    clear: both;
    width: 0;
    height: 3px;
    transition: 0.4s;
}

.gnb-list>.gnb-item:hover>a {
    color: #f85022;
}

.gnb-list>.gnb-item:hover>a::after {
    width: 100%;
    background: #f85022;
    ;
}

.gnb-line {
    width: 2px;
    height: 18px;
    background: #fff;
}

.gnb-sns {
    display: flex;
}

.gnb-sns>li {
    padding-left: 30px;
    font-size: 0.8rem;
}

/* ---------컨테이너----------- */
.container {
    position: relative;
    width: 100%;
    background: #000;
    overflow: hidden;
    top: 100vh;
    left: 0;
}

.section01 {
    width: 100%;
    height: 1100px;
    color: #fff;
    position: relative;
}

.story-txt {
    position: absolute;
    top: 500px;
    left: 7%;
    opacity: 0;
    transition: 2s;
    /* 스크롤시 top:220px 자리로 와야함 */
}

.story-txt>h1 {
    font-size: 2.5rem;
}

.story-txt>p {
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 5px 0;
    line-height: 35px;
    z-index: 10;
}

.left-line {
    width: 55%;
    height: 600px;
    border: 2px solid #f85022;
    opacity: 0.6;
    position: absolute;
    top: 400px;
    left: -20px;
    opacity: 0;
    transition: 1.2s;
    /* 스크롤시 top:150px 자리로 와야함 */
}

.right-line {
    width: 55%;
    height: 600px;
    border: 2px solid #f85022;
    opacity: 0.6;
    position: absolute;
    bottom: -100px;
    right: -20px;
    box-sizing: border-box;
    opacity: 0;
    transition: 1.5s;
    /* 스크롤시 bottom:150px 자리로 와야함 */
}

.story-img-box {
    width: 55%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    bottom: -400px;
    right: -20px;
    opacity: 0;
    transition: 2s;
    /* 스크롤시 bottom:150px 자리로 와야함 */
}

.story-img {
    width: 120%;
    height: 600px;
    background: url(https://cdn.jsdelivr.net/gh/rnsskd11/my-img/tetrapod/img/bg_2.jpg)no-repeat;
    background-position: -80px;
    background-size: cover;
}

.op {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.story-video {
    width: 80%;
    margin-left: 10%;
}

.section02 {
    position: relative;
    width: 100%;
    height: 1500px;
    background: #fff;
    margin-top: 200px;
}

.title-store {
    width: 32%;
    height: 200px;
    border: 2px solid #f85022;
    font-size: 6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 400px;
    right: -13px;
    z-index: 5;
    opacity: 0;
    transition: 1.5s;
    /* 스크롤시 top:200px 자리로 와야함 */
}

.title-store>span>span {
    color: #000;
}

.store-busan {
    width: 100%;
    position: absolute;
    top: 215px;
    left: 0;
    z-index: 3;
}

.busan-img {
    width: 85%;
    height: 500px;
    background: url(https://cdn.jsdelivr.net/gh/rnsskd11/my-img/tetrapod/img/busan_store.jpg)no-repeat center;
    background-size: cover;
}

.store-seoul {
    width: 100%;
    position: absolute;
    bottom: 200px;
    left: 15%;
}

.seoul-img {
    width: 85%;
    height: 500px;
    background: url(https://cdn.jsdelivr.net/gh/rnsskd11/my-img/tetrapod/img/seoul_store.jpg)no-repeat center;
    background-size: cover;
}

.store-txt {
    width: 85%;
    color: #f85022;
    font-weight: bold;
    background: #000;
    padding: 10px 20px;
    box-sizing: border-box;
}

.seoul-txt {
    text-align: right;
}

.map-wrap {
    display: flex;
    align-items: center;
    color: #f85022;
    font-weight: bold;
    position: absolute;
    bottom: 420px;
    left: 6%;
}

.map-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #000;
}

.map-box:hover {
    background: #000;
    color: #fff;
}

.map-arrow {
    animation-name: ani1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes ani1 {
    to {
        transform: translateX(0);
    }

    from {
        transform: translateX(10px);
    }
}

/* section03 */

.section03 {
    width: 100%;
    height: 730px;
    background-color: #fff;
}

.title-beer {
    width: 100%;
    height: 80px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 80px;
    box-shadow: -1px 1px 5px #595959;
    position: relative;
    z-index: 10;
}

.title-beer>span {
    font-size: 1.5rem;
    font-weight: bold;
}

.beer-wrap {
    width: 100%;
    height: 650px;
    position: relative;
}

.beer {
    width: 600px;
    height: 100%;
    background-color: #000;
    box-shadow: 1px 0px 10px #595959;
    position: absolute;
    top: 0;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.beer1 {
    right: 80%;
    z-index: 5;
}

.beer1.active {
    left: 0;
}

.beer2 {
    right: 60%;
    z-index: 4;
}

.beer2.active {
    left: 20%;
}

.beer3 {
    right: 40%;
    z-index: 3;
}

.beer3.active {
    left: 40%;
}

.beer4 {
    right: 20%;
    z-index: 2;
}

.beer4.active{
    z-index: 7;
}
.beer5.active {
    z-index: 6;
}

.beer5 {
    right: 0%;
    z-index: 1;
}

.beer>.beer-video {
    position: absolute;
    top: 140px;
    right: 60px;
}

.beer>.beer-img {
    position: absolute;
    top: 160px;
    right: -140px;
}

.beer>h2 {
    position: absolute;
    top: 30px;
    right: 40px;
}

.beer>.beer-txt1 {
    position: absolute;
    top: 65px;
    right: 40px;
}

.beer>.beer-txt2 {
    position: absolute;
    top: 60px;
    left: 40px;
    font-size: 0.5rem;
}

.beer>.beer-txt3 {
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-size: 0.95rem;
    line-height: 25px;
    opacity: 0;
}

.beer-txt3.active {
    opacity: 1;
}

.beer-line {
    width: 0px;
    height: 1px;
    background-color: #f85022;
    transition: 0.7s;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.beer-line.active {
    width: 600px;
    height: 1px;
    background-color: #f85022;
}

.beer-plus {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.beer-plus>.plus1 {
    width: 15px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.beer-plus>.plus2 {
    width: 1px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.beer-plus>.plus2.active {
    display: none;
}

.beer-opacity {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

.beer-opacity.active {
    opacity: 0;
}

.beer:hover>.beer-opacity {
    opacity: 0;
}

/* section03-end */
.between-box {
    width: 100%;
    height: 200px;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

/* section04 */

.contact-wrap {
    width: 100%;
    height: 850px;
    position: relative;
}
.T-img{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.T-img>img{
    object-fit: contain;
}
.contact-txt-box{
    position: absolute;
    top: 350px;
    left: 100px;
}
.contact-txt1 {
    color: #fff;
    font-size: 2rem;
}
.contact-txt2 {
    color: #f85022;
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 4px solid #f85022;
}
.insta-wrap{
    width: 100%;
    height: 100%;
}
.insta-slider{
    width: 100%;
}
.slick-slide.insta00{
    padding: 30px;
    overflow: hidden;
    position: relative;
}
.insta00>img{
    width: 100%;
    cursor: pointer;
}
.insta-slider a{
    position: absolute;
    top:50px;
    right: 60px;
    font-size: 1.5rem;
    color: #fff;
}
.insta-slider .hover-heart-i{
    display: none;
}
.footer{
    position: relative;
    padding: 50px 100px 120px;
    border-top:1px solid #595959;
    margin-top: 120px;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 100;
}
.footer-left>div{
    margin-right: 80px;
}
.footer .number-txt{
    margin-right: 30px;
}
.footer .right-txt{
    text-align: right;
    font-size: 0.5rem;
}
.right-icon{
    margin-top: 20px;
}
.right-icon>span{
    margin-left: 10px;
}
.right-icon>span>a{
    font-size: 1.5rem;
    margin-left: 5px;
}